* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4d04e;
}
.card {
  max-width: 380px;
  max-height: 520px;
  background-color: white;
  border: 1px solid #111111;
  cursor: pointer;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
  box-shadow: 8px 8px #111111;
}
.card:hover {
  box-shadow: 20px 20px #111111;
}
.card img {
  object-fit: cover;
  max-height: 40%;
  width: 100%;
  border-radius: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 330px;
}

.learn {
  width: fit-content;
  display: inline-block;
  border-radius: 4px;
  background-color: #f4d04e;
}
.text-preset-3-bold {
  color: #111111;
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  padding: 4px 12px;
  font-size: 12px;
}
.text-preset-3 {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}
.text-preset-1 {
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0px;
}
.card:hover .text-preset-1 {
  color: #f4d04e;
  transition: color 0.3s ease;
}

.text-preset-2 {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  color: #6b6b6b;
}

.avatar {
  display: flex;
  align-items: center;
  padding: 4px 12px;
}

.avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}
.avatar h1 {
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 12px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
